<% page_title = "Edit Advert" %>
<div id="content" class="padding-20">
	<%= form_for(:advert_dto, :url => {:controller => 'admin', :action => 'edit_advert'}) do |f| %>
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= page_title%></span></h3>
			<hr />
		</div>

		<% if flash[:validation_failed].blank?   == false%>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Please fill all the required fields marked with *
			<br/>
			<br/>
			<% for message_error in @advert_dto.errors.full_messages %>
			<li>
				* <%= message_error %>
			</li>
			<% end %>
		</div>
		<% end %>

		<% if flash[:action_failed].blank?  == false %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			New not saved
		</div>
		<% end %>

		<% if flash[:action_successful].blank?  == false %>
		<br/>
		<div class="alert alert-success noborder text-center weight-400 nomargin noradius">
			News Saved Successfully!!!
		</div>
		<% end %>

		<div class="panel-body">
			<div class="row">
				<div class="form-group">
					<%= hidden_field("advert_dto", "id")%>
					<div class="col-md-2 col-sm-2"></div>
					<div class="col-md-8 col-sm-8">

						<label>Title *</label>
						<%= text_field("advert_dto", "title", {class: 'form-control required'})%>
						</br>

						<label>Start Date</label>
						</br></br>
						<%= date_select("advert_dto", "start_date" , start_year: 2017)%>
						</br></br>
						<label>End Date</label>
						</br></br>
						<%= date_select("advert_dto", "end_date" , start_year: 2017)%>
						</br></br>
						<label>Text *</label>
						</br>
						</br>
						<%= cktext_area("advert_dto", "text", {class: 'tinymce required', rows: 15, cols: 96 })%>

						<br />
						<br />
						<button type="reset" class="btn btn-default">
							Reset
						</button>
						<button type="submit" class="btn btn-success ml-20">
							<i class="fa fa-edit"></i> Submit
						</button>
						<br />
						<br />

					</div><div class="col-md-2 col-sm-2"></div>
				</div>

			</div>
		</div>
	</div>
</div>
<% end %>
</div>