<% page_title = "Show-Room Setup" %>
<div id="content" class="padding-20">
	<%= form_for(:event_dto, :url => {:controller => 'admin', :action => 'show_room'}) do |f| %>
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= page_title%></span></h3>
			<hr />
		</div>

		<% if flash[:validation_failed] !=nil %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Please fill all the required fields marked with *
			<br/>
			<br/>
			<% for message_error in @event_dto.errors.full_messages %>
			<li>
				* <%= message_error %>
			</li>
			<% end %>
		</div>
		<% end %>

		<% if flash[:action_failed]!= nil  %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Show room setup not saved
		</div>
		<% end %>

		<% if flash[:action_successful] !=nil %>
		<br/>
		<div class="alert alert-success noborder text-center weight-400 nomargin noradius">
			Show room setup saved Successfully!!!
		</div>
		<% end %>

		<div class="panel-body">
			<div class="row">
				<div class="form-group">
						<div class="col-md-3 col-sm-3"></div>
					<div class="col-md-6 col-sm-6">

						
						<label>Background Colour *</label>
						<%= text_field("show_room", "colour", {class: 'form-control required'})%>

						</br>
							<label>Text Colour *</label>
						<%= text_field("show_room", "text_colour", {class: 'form-control required'})%>

						</br>
							<label>No of Properties to show *</label>
						<%= text_field("show_room", "no_of_properties", {class: 'form-control required'})%>

						</br>
							<label>Slide Show Duration in Seconds *</label>
						<%= text_field("show_room", "slide_show_duration_seconds", {class: 'form-control required'})%>

						</br>
							<label>Interval in Seconds Before Displaying another Property *</label>
						<%= text_field("show_room", "interval_between_properties_seconds", {class: 'form-control required'})%>

						</br>
								<br /><br />
								<button type="reset" class="btn btn-default">Reset</button>
								<button type="submit" class="btn btn-success ml-20">
									<i class="fa fa-edit"></i> Submit
								</button>
								<br />
								<br />
							
						</div><div class="col-md-3 col-sm-3"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>