<% page_title = "Featured Properties" %>

<div id="content" class="padding-20">
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec size-20"><%= page_title%></span></h3>
			<hr />
		</div>
		<br/>
			<div class="panel-body">

				<% if @featured_properties != nil  %>
				<div class="panel-body">
					<div class="row">
						<% for property in @featured_properties%>
							<div class="col-md-4 col-sm-4">
								<h3> <%= property.short_description%></h3>
								<br />
								<span class="logo-dec"> &#8358; <%= property.property_price.per_unit_price%> </span>
								
								<span> <b>Rooms</b> <%= property.number_of_rooms%> <b>Baths</b> <%= property.number_of_baths%> </span>
								<br />	<br />
								<%= image_tag(ImageRetrieval.get_property_main_image_path(property.property_number), height: '200', width: '300') %>
								<br />
								<br />
								<a href="/home/interest?id=<%= property.id%>" class="btn btn-default mr-20">
							<i class="fa fa-money"></i> Buy Now
						</a>
						<a href="/home/property?id=<%= property.id%>" class="btn btn-info"><i class="fa fa-search"></i> View Details</a>
						<br />
								<br />
							</div>
						<% end %>
					</div></div>
					<% end %>

				</div>
				<br />

			</div>

	</div>
	</p>
</div>
</div>