<% page_title = "Property Intereset Form" %>

<div id="content" class="padding-20">
	<%= form_for(:payment_request_dto, :url => {:controller => 'home', :action => 'interest_form'}) do |f| %>
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= page_title%></span></h3>
			<hr />
		</div>

		<% if flash[:alert]%>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Please fill all the required fields marked with *
			<br/>
			<br/>
			<% for message_error in @payment_request_dto.errors.full_messages %>
			<li>
				* <%= message_error %>
			</li>
			<% end %>
		</div>
		<% end %>

		<div class="panel-body center">
			<div class="center">
				<div class="col-md-3 col-sm-3"></div>
				<div class="col-md-6 col-sm-6">
					<%= hidden_field("payment_request_dto", "property_id")%>
					<label>Surname *</label>
					<%= text_field("payment_request_dto", "surname", {class: 'form-control required'})%>
					</br>

					<label>First Name *</label>
					<%= text_field("payment_request_dto", "first_name", {class: 'form-control required'})%>
					</br>

					<label>Email Address</label>
					<%= email_field("payment_request_dto", "email_address", {class: 'form-control required'})%>
					<br/>
					
					<label>Phone Number *</label>
					<%= text_field("payment_request_dto", "phone_number", {class: 'form-control required'})%>
					</br>
					<label>Expected Payment Date*</label>
					</br>
					<%= date_select("payment_request_dto", "expected_date" , start_year: 2017)%>
					</br></br>
					<label>Comment</label>
					<%= text_area("contact_dto", "comment", {class: 'form-control'})%>
					<br/>
					<button type="reset" class="btn btn-default">
						Reset
					</button>
					<button type="submit" class="btn btn-success ml-20">
						<i class="fa fa-envelope"></i> Submit
					</button>
					<br/>
					<br/>
				</div>
				<div class="col-md-3 col-sm-3"></div>
			</div>
		</div>
	</div>
</div>
<% end %>
</div>