<% page_title = "Account Login" %>

<div id="content" class="padding-20">
	<%= form_for(:loginDTO, :url => {:controller => 'home', :action => 'login'}) do |f| %>
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= page_title%></span></h3>
			<hr />
		</div>

		<% if !flash[:validation_failed].blank?  %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Please fill all the required fields marked with *
			<br/>
			<br/>
			<% for message_error in @loginDTO.errors.full_messages %>
			<li>
				* <%= message_error %>
			</li>
			<% end %>
		</div>
		<% end %>

		<% if !flash[:action_failed].blank?  %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Invalid Username or Password
		</div>
		<% end %>

		<div class="panel-body center">
			<div class="center">
				<div class="col-md-4 col-sm-4">
					</div>
				<div class="col-md-4 col-sm-4">
					<label>Email *</label>
					<%= email_field("loginDTO", "email", {class: 'form-control required'})%>
					</br>
					<label>Password *</label>
					<%= password_field("loginDTO", "password", {class: 'form-control required'})%>

					<br/>
					<br/>
					<button type="submit" class="btn btn-success">
						<i class="fa fa-unlock"></i> Login
					</button>
					<br /><br />
                        <a href="/account/forgotpassword">Forgot password?</a> 
                            <a href="/home/registration">New User?</a> <br />
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
</div>