<div id="content" class="padding-20">
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= @property.short_description%></span></h3>
			<hr />
		</div>
		<div class="panel-body">

			<div class="row">
				<div  class="col-md-12 col-sm-12">
					<% files=ImageRetrieval.get_property_images_path(@property.property_number)%>
					<%if files !=nil%>
					<div class="slideshow-container">

						<%files.each{ |f|%>
						<div class="mySlides fade">
							<div class="numbertext"></div>
							<%= image_tag(f, height: '300px', width: '700px') %>
							<div class="text"></div>
						</div>
						<%}%>
						<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>
					</div>
					<br>

					<div style="text-align:center">
						<span class="dot" onclick="currentSlide(1)"></span>
						<span class="dot" onclick="currentSlide(2)"></span>
						<span class="dot" onclick="currentSlide(3)"></span>
					</div>

					<%end%>
				</div>
			</div>

			<div class="row">
				<br>
				<br>
				<div class="col-md-2 col-sm-2">

				</div>
				<div class="col-md-8 col-sm-8">
					<h1 class="pull-left size-25"> &#8358; <%= @property.per_unit_price%> .	<%= @property.number_of_rooms%> Rooms .  <%= @property.number_of_baths%> Baths ..
					<%if session[:user_id] != nil%> <a class="ml-20 btn btn-small btn-info" target="new" href="/portal/evaluationreport?id=<%= @property.id%>"><i class="fa fa-book"></i> Valuation Report</a> <%end%> </h1>
					<br/>

					<br/>
					<% address=Address.find_by(id: @property.address_id)%>
					<h1 class="pull-left size-25 logo-dec"> <%= address.street1%> .  <%= address.zip_code%> </h1>
					<br/>
					<br/>
					<p class="justified">
						<%= @property.description%>
					</p>
				</div>
				<div class="col-md-2 col-sm-2">

				</div>
				<br/>
				<br/>
			</div>
		</div>
	</div>
	<br/>
	<br/>
</div>
<script>
	//var slideIndex = 1;
	//showSlides(slideIndex);
	var slideIndex = 0;
	showSlides();

	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides( slideIndex = n);
	}

	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		for ( i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if (slideIndex > slides.length) {
			slideIndex = 1
		}
		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 5000);
		// Change image every 2 seconds
	}

	/*function showSlides(n) {
	 var i;
	 var slides = document.getElementsByClassName("mySlides");
	 var dots = document.getElementsByClassName("dot");
	 if (n > slides.length) {
	 slideIndex = 1
	 }
	 if (n < 1) {
	 slideIndex = slides.length
	 }
	 for ( i = 0; i < slides.length; i++) {
	 slides[i].style.display = "none";
	 }
	 for ( i = 0; i < dots.length; i++) {
	 dots[i].className = dots[i].className.replace(" active", "");
	 }
	 slides[slideIndex - 1].style.display = "block";
	 dots[slideIndex - 1].className += " active";
	 }*/
</script>
