<% page_title = "User Registration" %>

<div id="content" class="padding-20">
	<%= form_for(:registrationDTO, :url => {:controller => 'home', :action => 'registration'}) do |f| %>
	<div class="panel panel-default">

		<div class="panel-heading panel-heading-transparent">
			<h3 class="text-muted lead"><%= page_title%></h3>
			<hr />
		</div>

		<% if flash[:validation_failed] %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Please fill all the required fields marked with *
			<br/>
			<br/>
			<% for message_error in @registrationDTO.errors.full_messages %>
			<li>
				* <%= message_error %>
			</li>
			<% end %>
		</div>
		<% end %>

		<% if flash[:action_failed] %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Could not saved details, checked the provided details
		</div>
		<% end %>

		<div class="panel-body">
			<div class="row">
				<div class="form-group">

					<div class="col-md-4 col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-transparent">
								<strong class="black">Personal Information</strong>
							</div>
						</div>

						<label>Surname *</label>
						<input id="registrationDTO_last_name" name="registrationDTO[last_name]" type="text" class="form-control required" />

						</br>

						<label>First Name *</label>
						<input id="registrationDTO_first_name" name="registrationDTO[first_name]" type="text" class="form-control required" />
						</br>

						<label>Middle Name</label>
						<input id="registrationDTO_middle_name" name="registrationDTO[middle_name]" type="text" class="form-control required" />
						</br>

						<label>Gender *</label>
						<%= select("registrationDTO", "gender", @gender.collect {|p| [ p.label, p.id] }, {prompt: 'Select Gender'}, {class: 'form-control required'})%>

						</br>

						<label>Marital Status *</label>
						<%= select("registrationDTO", "marital_status", @marital_status.collect {|p| [ p.label, p.id] }, {prompt: 'Select Marital Status'}, {class: 'form-control required'})%>
						</br>

						<label>Religion *</label>
						<%= select("registrationDTO", "religion", @religion.collect {|p| [ p.label, p.id] }, {prompt: 'Select Religion'}, {class: 'form-control required'})%>
						</br>

						<label>Date of Birth *</label>
						</br>
						<%= date_select("registrationDTO", "birth_date" , start_year: 1930)%>
						</br>

					</div>

					<div class="col-md-4 col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-transparent">
								<strong  class="black">Contact Details </strong>
							</div>
						</div>
						<label>Phone Number *</label>
						<input id="registrationDTO_phone_number" name="registrationDTO[phone_number]" type="textarea" class="form-control required" />
						<br />
						<label>Street Address *</label>
						<input id="registrationDTO_street1" name="registrationDTO[street1]" type="textarea" class="form-control required" />
						<br />
						<label>Street Address 2</label>
						<input id="registrationDTO_street2" name="registrationDTO[street2]" type="textarea" class="form-control required" />
						<br />
						<label>City *</label>
						<input id="registrationDTO_city" name="registrationDTO[city]" type="text" class="form-control required" />
						<br />
						<label>Postal/Zip Code *</label>
						<input id="registrationDTO_zip_code" name="registrationDTO[zip_code]" type="text" class="form-control required" />
						<br />
						<label>State *</label>
						<%= select("registrationDTO", "state", @state.collect {|p| [ p.label, p.id] }, {prompt: 'Select State'}, {class: 'form-control required'})%>
						<br />
						<label>Country *</label>
						<br />
						<%= select("registrationDTO", "country", @countries.collect {|p| [ p.label, p.id] }, {prompt: 'Select Country'}, {class: 'form-control required'})%>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-transparent">
								<strong class="black">Account Information</strong>
							</div>
						</div>

						<label>Email *</label>
						<input id="registrationDTO_email" name="registrationDTO[email]" type="text" class="form-control required" />
						</br>
						<label>Password *</label>
						<input id="registrationDTO_password" name="registrationDTO[password]" type="password" class="form-control required" />
						</br>
						<label>Password Confirmation *</label>
						<input id="registrationDTO_password_confirmation" name="registrationDTO[password_confirmation]" type="password" class="form-control required" />
						</br>
						<div class="form-group">
							<div class="col-md-offset-5 col-md-12">
								<br />
								<br />
								<button  type="reset" class="btn btn-default">
									<i class="fa fa-refresh"></i> Reset
								</button>
								<button type="submit" class="btn btn-success">
									<i class="fa fa-floppy-o"></i> Submit
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>