<% page_title = "Property Search" %>

<div id="content" class="padding-20">
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec size-20"><%= page_title%></span></h3>
			<hr />
		</div>
		<%= form_for(:search_dto, :url => {:controller => 'home', :action => 'search'}) do |f| %>
		<div class="panel mr-20 ml-20">

			<div class="row">
				<div class="col-md-3 col-sm-3">
					<%= select("search_dto", "no_of_rooms", @no_of_rooms.collect {|p| [ p, p] }, {prompt: 'Rooms'}, {class: 'form-control '})%>
				</div>
				<div class="col-md-3 col-sm-3">
					<%= select("search_dto", "no_of_baths", @no_of_baths.collect {|p| [ p, p] }, {prompt: 'Baths'}, {class: 'form-control '})%>
				</div>
				<div class="col-md-3 col-sm-3">
					<%= select("search_dto", "min_price", @price_ranges.collect {|p| [ p, p] }, {prompt: 'Min'}, {class: 'form-control '})%>
				</div>
				<div class="col-md-3 col-sm-3">
					<%= select("search_dto", "max_price", @price_ranges.collect {|p| [ p, p] }, {prompt: 'Max'}, {class: 'form-control '})%>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<%= text_field("search_dto", "street1", {class: 'form-control required', placeholder: 'Street Address'})%>
				</div>

				<div class="col-md-3 col-sm-3">
					<%= text_field("search_dto", "city", {class: 'form-control required', placeholder: 'City'})%>
				</div>
				<div class="col-md-3 col-sm-3">
					<%= text_field("search_dto", "zip_code", {class: 'form-control required', placeholder: 'Postal/Zip Code'})%>
				</div>

				<div class="col-md-3 col-sm-3">
					<%= select("search_dto", "state", @states.collect {|p| [ p.label, p.id] }, {prompt: 'Select State'}, {class: 'form-control required'})%>
				</div>

			</div>
			<br/>
			<%if session[:user_id] != nil%>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="col-md-3 col-sm-3"></div>
					<div class="col-md-3 col-sm-3">
						<label> <i class="fa fa-search"></i> Register Interest </label>
						<%= check_box("search_dto", "is_interest", {class: 'form-control'})%>

					</div>
					<div class="col-md-3 col-sm-3">
						<label> <i class="fa fa-save"></i> Save Search </label>
						<%= check_box("search_dto", "save_search", {class: 'form-control'})%>

					</div><div class="col-md-3 col-sm-3"></div>
				</div>
			</div>
			<br/>
		   <% end %>
			<div class="row">
				<div class="col-md-12 col-sm-12">

					<button type="submit" class="btn btn-success">
						<i class="fa fa-search"></i> Search
					</button>
					<br/>
					<br/>
				</div>
			</div>
		</div>
		<% end %>

		<br/>
		<% if @search_result != nil  %>
		<p>
			<h1 class="size-14">Search Result</h1>
			<hr/>
			<br/>
			<br/>

			<div class="panel-body">

				<div class="panel-body">
					<div class="row">
						<% for property in @search_result%>
						<div class="col-md-4 col-sm-4">
							<h3> <%= property.short_description%></h3>
							<br />
							<span class="logo-dec"> &#8358; <%= property.property_price.per_unit_price%> </span>

							<span> <b>Rooms</b> <%= property.number_of_rooms%> <b>Baths</b> <%= property.number_of_baths%> </span>
							<br />
							<br />
							<%= image_tag(ImageRetrieval.get_property_main_image_path(property.property_number), height: '200', width: '300') %>
							<br />
							<br />
							<a class="btn btn-default mr-20" href="/home/interest?id=<%= property.id%>">
								<i class="fa fa-money"></i> Buy Now
							</a>
							<a href="/home/property?id=<%= property.id%>" class="btn btn-info"><i class="fa fa-search"></i> View Details</a>
							<br />
							<br />
						</div>
						<% end %>
					</div>

				</div>

				<br />

			</div>
		</p>
		<% end %>

	</div>
</div>