<div id="content" class="padding-20">
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec size-25">Property ShowRoom</span></h3>
			<hr />
		</div>
		<div class="panel-body">

			<div class="row">
				<div  class="col-md-12 col-sm-12">
					<div class="slideshow-container">
						<%@properties.each{ |property|%>
						<% image_path=ImageRetrieval.get_property_main_image_path(property.property_number)%>
						<a href="/home/property?id=<%=property.id%>">
						<div class="mySlides fade">
							<div class="numbertext"></div>
							<%= image_tag(image_path, height: '500px', width: '100%') %>
							<div class="text container-bg">
								<h1 class="pull-left size-25 black"> 
								&#8358; <%= property.per_unit_price%> .	<%= property.number_of_rooms%> Rooms .  <%= property.number_of_baths%> Baths </h1>
								<br/>
								<br/>
								<% address=Address.find_by(id: property.address_id)%>
								<h1 class="pull-left size-25 logo-dec"> <%= address.street1%> .  <%= address.zip_code%> </h1>
								<br/>
								<br/>
								<p class="justified black">
									<%= property.short_description%>
								</p>

							</div>
						</div>
						</a>
						<%}%>
						<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>
					</div>
					<br>
				</div>
			</div>

		</div>
	</div>
	<br/>
	<br/>
	<br/>
								<br/>
</div>
<script>
	//var slideIndex = 1;
	//showSlides(slideIndex);
	var slideIndex = 0;
	showSlides();

	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides( slideIndex = n);
	}

	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		for ( i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slideIndex++;
		if (slideIndex > slides.length) {
			slideIndex = 1
		}
		slides[slideIndex - 1].style.display = "block";
		setTimeout(showSlides, 5000);
		// Change image every 2 seconds
	}

	/*function showSlides(n) {
	 var i;
	 var slides = document.getElementsByClassName("mySlides");
	 var dots = document.getElementsByClassName("dot");
	 if (n > slides.length) {
	 slideIndex = 1
	 }
	 if (n < 1) {
	 slideIndex = slides.length
	 }
	 for ( i = 0; i < slides.length; i++) {
	 slides[i].style.display = "none";
	 }
	 for ( i = 0; i < dots.length; i++) {
	 dots[i].className = dots[i].className.replace(" active", "");
	 }
	 slides[slideIndex - 1].style.display = "block";
	 dots[slideIndex - 1].className += " active";
	 }*/
</script>
