<div id="content" class="padding-20">
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec size-25">Property ShowRoom</span></h3>
			<hr />
		</div>
		<div class="panel-body ">

			<div class="row">
				<div  class="col-md-12 col-sm-12">
					<button class="next">
						Next
					</button>
					<button class="prev">
						Previous
					</button>
					<div id="room" class="slideshow-container ">
						<div style="display: inline-block;">
							<img src="https://placeimg.com/400/200/people"/>
						</div>
						<%@properties.each{ |property|%>
						<% image_path=ImageRetrieval.get_property_main_image_path(property.property_number)%>
						<div>
						<a href="/home/property?id=<%= property.id%>">
						<div class="">
							<div class="numbertext"></div>
							<%= image_tag(image_path, height: '700px', width: '700px') %>
							<div class="text container-bg">
								<h1 class="pull-left size-25 black"> &#8358; <%= property.per_unit_price%> .	<%= property.number_of_rooms%> Rooms .  <%= property.number_of_baths%> Baths </h1>
								<br/>
								<br/>
								<% address=Address.find_by(id: property.address_id)%>
								<h1 class="pull-left size-25 logo-dec"> <%= address.street1%> .  <%= address.zip_code%> </h1>
								<br/>
								<br/>
								<p class="justified black">
									<%= property.short_description%>
								</p>

							</div>
						</div> </a>
						<%}%>
						</div>
					</div>
					<br>
				</div>
			</div>

		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
</div>
<script>
	var currentIndex = 0,
	    items = $('.slideshow-container  div'),
	    itemAmt = items.length;

	function cycleItems() {
		var item = $('.slideshow-container  div').eq(currentIndex);
		items.hide();
		item.css('display', 'inline-block');
	}

	var autoSlide = setInterval(function() {
		currentIndex += 1;
		if (currentIndex > itemAmt - 1) {
			currentIndex = 0;
		}
		cycleItems();
	}, 3000);

	$('.next').click(function() {
		clearInterval(autoSlide);
		currentIndex += 1;
		if (currentIndex > itemAmt - 1) {
			currentIndex = 0;
		}
		cycleItems();
	});

	$('.prev').click(function() {
		clearInterval(autoSlide);
		currentIndex -= 1;
		if (currentIndex < 0) {
			currentIndex = itemAmt - 1;
		}
		cycleItems();
	});

</script>

<style>
	.slideshow-container {
		max-width: 400px;
		background-color: black;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
	.slideshow-container  div {
		background-color: white;
		width: 100%;
		display: inline-block;
		display: none;
	}
	.slideshow-container  img {
		width: 100%;
		height: auto;
	}

	button {
		position: absolute;
	}

	.next {
		right: 5px;
	}

	.prev {
		left: 5px;
	}
</style>
