<% page_title = "Property Mortgage Evaluation" %>

<div id="content" class="padding-20">
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= page_title%></span></h3>
			<hr />
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="form-group">

					<div class="col-md-4 col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-transparent">
								<strong class="black">Details</strong>
							</div>
						</div>
						<label>Customer Number*</label>
						<%= text_field("mortgage", "customer_number1", {class: 'form-control required'})%>
						</br>
						<label>Customer Number 1</label>
						<%= text_field("mortgage", "customer_number2", {class: 'form-control required'})%>
						</br>
						<label>Customer Number 2</label>
						<%= text_field("mortgage", "customer_number3", {class: 'form-control required'})%>
						</br>
						<label>Household Income (Annual)</label>
						<%= text_field("mortgage", "house_hold_income", {class: 'form-control required'})%>
						</br>

						<label>Household debt/expenses (monthly) *</label>
						<%= text_field("mortgage", "house_hold_debt", {class: 'form-control required'})%>
						</br>

					</div>

					<div class="col-md-8 col-sm-8">
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-transparent">
								<strong class="black">Loan Break Down</strong>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<label>Property Number*</label>
							<%= text_field("mortgage", "property_number", {class: 'form-control required'})%>
							</br>
							<label>Home Value</label>
							<%= text_field("mortgage", "home_value", {class: 'form-control required'})%>
							</br>
							<label>Loan Amount</label>
							<%= text_field("mortgage", "loan_amount", {class: 'form-control required'})%>
							</br>

							<label>Interest Rate *</label>
							<%= text_field("mortgage", "interest_rate", {class: 'form-control required'})%>
							</br>

							<label>Loan Term</label>
							<%= text_field("mortgage", "loan_term", {class: 'form-control required'})%>
						</div>
						<div class="col-md-6 col-sm-6">
							<label>Start Date*</label>
							</br>
							<%= date_select("mortgage", "start_date" , start_year: 2017)%>
							</br></br>

							<label>Property Tax %</label>
							<%= text_field("mortgage", "property_tax", {class: 'form-control required'})%>
							</br>

							<label>PMI %</label>
							<%= text_field("mortgage", "pmi", {class: 'form-control required'})%>

							</br>
							<label>Home Ins #/yr</label>
							<%= text_field("mortgage", "home_ins", {class: 'form-control required'})%>
							</br>
							<label>Monthly HOA</label>
							<%= text_field("mortgage", "monthly_hoa", {class: 'form-control required'})%>
							</br>
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-12 col-sm-12">
						<div class="col-md-2 col-sm-2"></div>
						<div class="col-md-8 col-sm-8">
							<p>
								<table id="dataTable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th width="5%">SN</th>
											<th width="50%"> Title </th>
											<th width="10%"> Extension </th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<%
										files=FileModel.find_by(owner_unique_id: @mortgage.mortgage_number)
										if files != nil then
										count=1
										for file in files%>
										<tr>
											<td><%= count%></td>
											<td> <%= file.title%> </td>
											<td> <%= file.extension%> </td>
											<td><a class="btn btn-small btn-default" href="<%= ImageRetrieval.get_property_main_image_path(@mortgage.mortgage_number)%>" target="new"> <i class="fa fa-cloud-download"></i> Download</a></td>
										</tr>
										<% count+=1%>
										<% end %>
										<% end %>
									</tbody>
								</table>
							</p>
						</div>
						<div class="col-md-2 col-sm-2"></div></div>
					</div>
					</br>
					<div class="row">
						<div class="col-md-12 col-sm-12">

							<br />
							<button type="submit" class="btn btn-danger">
								<i class="fa fa-thumbs-down"></i> Reject
							</button>
							<button type="submit" class="btn btn-warning">
								<i class="fa fa-pencil"></i> More Info
							</button>
							<a href="/portal/mortgagereview" class="btn btn-success">
								<i class="fa fa-thumbs-up"></i> Approve
							</a>
							
							</br>	</br>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>