<% page_title = "Reports Analytics" %>

<div id="content" class="padding-20">
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%=page_title%></span></h3>
			<hr />
		</div>

		<div class="panel-body mr-20 ml-20">
		
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
					<div class="dashboard_graph">
						<div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 vis-style">
							<a href="/portal/properties"> <h4>Properties Registration for the year</h4>
							<div class="vis-style">
								<br />
								<br />
								<canvas id="myChart1" width="450" height="300"></canvas>
							</div> </a>
						</div>
						
						<div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 vis-style">
							<a href="/report/users"> <h4>Customers Registration</h4>
							<div class="vis-style">
								<br />
								<br />
								<canvas id="myChart3" width="450" height="300"></canvas>
							</div> </a>
						</div>
						
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<br />
								<br />
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
					<div class="dashboard_graph">
						<div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 vis-style">
							<a href="/portal/transactions"> <h4>Transactions for the year</h4>
							<div class="vis-style">
								<br />
								<br />
								<canvas id="myChart2" width="450" height="300"></canvas>
							</div> </a>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 vis-style">
							<a href="/portal/transactions"> <h4>Mortgages for the year</h4>
							<div class="vis-style">
								<br />
								<br />
								<canvas id="myChart4" width="450" height="300"></canvas>
							</div> </a>
						</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<script>
			var ctx = document.getElementById("myChart1").getContext("2d");
			var ctx1 = document.getElementById("myChart2").getContext("2d");
			var ctx2 = document.getElementById("myChart3").getContext("2d");
			var ctx3= document.getElementById("myChart4").getContext("2d");
			var data = {
				labels : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				datasets : [{
					backgroundColor : "rgba(220,220,220,0.5)",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [<%=@property_jan%>, <%=@property_feb%>, <%=@property_mar%>, <%=@property_apr%>, 
					<%=@property_may%>, <%=@property_jun%>, <%=@property_jul%>, <%=@property_aug%>, <%=@property_sep%>,
					<%=@property_oct%>, <%=@property_nov%>, <%=@property_dec%>]
				}]
			};

			var data2 = {
				labels : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				datasets : [{
					backgroundColor : "rgba(220,220,220,0.5)",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [<%=@transaction_jan%>, <%=@transaction_feb%>, <%=@transaction_mar%>, <%=@transaction_apr%>, 
					<%=@transaction_may%>, <%=@transaction_jun%>, <%=@transaction_jul%>, <%=@transaction_aug%>, <%=@transaction_sep%>, 
					<%=@transaction_oct%>, <%=@transaction_nov%>, <%=@transaction_dec%>]
				}]
			};
			
			var data3 = {
				labels : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				datasets : [{
					backgroundColor : "rgba(220,220,220,0.5)",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [<%=@users_jan%>, <%=@users_feb%>, <%=@users_mar%>, <%=@users_apr%>, 
					<%=@users_may%>, <%=@users_jun%>, <%=@users_jul%>, <%=@users_aug%>, <%=@users_sep%>, 
					<%=@users_oct%>, <%=@users_nov%>, <%=@users_dec%>]
				}]
			};
			
			var data4 = {
				labels : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				datasets : [{
					backgroundColor : "rgba(220,220,220,0.5)",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [<%=@mortgages_jan%>, <%=@mortgages_feb%>, <%=@mortgages_mar%>, <%=@mortgages_apr%>, 
					<%=@mortgages_may%>, <%=@mortgages_jun%>, <%=@mortgages_jul%>, <%=@mortgages_aug%>, <%=@mortgages_sep%>, 
					<%=@mortgages_oct%>, <%=@mortgages_nov%>, <%=@mortgages_dec%>]
				}]
			};


			var MyNewChart1 = new Chart(ctx).Bar(data);
			var MyNewChart2 = new Chart(ctx1).Bar(data2);
			var MyNewChart3 = new Chart(ctx2).Bar(data3);
			var MyNewChart4 = new Chart(ctx3).Bar(data4);
			
		</script>

