<% page_title = "Mortgages Report" %>

<div id="content" class="padding-20">
<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= page_title%></span></h3>
			<hr />
		</div>

		<div class="panel-body mr-20 ml-20">
			<div class="row">
				<a class="btn btn-small btn-default pull-right"><i class="fa fa-print"></i> Print</a>
				<br/>
			
						<table id="dataTable" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>SN</th>
									<th>Mortgage No.</th>
									<th>Mortgagor</th>
									<th>Property Address</th>
									<th>Property Tax</th>
									<th>House Hold Income</th>
									<th>Home Value</th>
									<th>Interest Rate</th>
									<th>Loan Amount</th>
									<th> Loan Term</th>
									<th>PMI</th>
									<th>Home Insurance</th>
									<th>Monthly HOA</th>
									
								</tr>
							</thead>
							<tbody>
								<% if @mortgages != nil  
									count=1%>
								<% for mortgage in @mortgages
									person =Person.find_by(person_number: mortgage.customer_number1)
									property=Property.find_by(property_number: mortgage.property_number)
									full_name=person.last_name + " " +person.first_name
									address=Address.find_by(id: property.address_id)
									full_address=address.street1 + " " +address.city+ " " + address.zip_code
								%>
								<tr>
									<td> <%= count%> </td>
									<td> <%= mortgage.mortgage_number%> </td>
									<td> <%= full_name%> </td>									
									<td> <%= full_address%> </td>
									<td> <%= mortgage.property_tax%> </td>	
									<td> <%= mortgage.house_hold_income%> </td>
									<td> <%= mortgage.home_value%> </td>
									<td> <%= mortgage.interest_rate%> </td>
									<td> <%= mortgage.loan_amount%> </td>
									<td> <%= mortgage.loan_term%> </td>	
									<td> <%= mortgage.pmi%> </td>	
									<td> <%= mortgage.home_ins%> </td>
									<td> <%= mortgage.monthly_hoa%> </td>
										
								</tr>
								<% count+=1 
								   end 
								   end %>
							</tbody>
						</table>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>