<% page_title = "Change Password" %>

<div id="content" class="padding-20">
	<%= form_for(:change_password_dto, :url => {:controller => 'account', :action => 'change_password'}) do |f| %>
	<div class="panel panel-default">

		<div class="panel-heading panel-heading-transparent">
			<h3 class="text-muted lead"><%= page_title%></h3>
			<hr />
		</div>

		<% if !flash[:validation_failed].blank?  %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Please fill all the required fields marked with *
			<br/>
			<br/>
			<% for message_error in @change_password_dto.errors.full_messages %>
			<li>
				* <%= message_error %>
			</li>
			<% end %>
		</div>
		<% end %>

		<% if !flash[:action_failed].blank?  %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Invalid old password
		</div>
		<% end %>
		
		<% if !flash[:action_successful].blank?  %>
		<br/>
		<div class="alert alert-success noborder text-center weight-400 nomargin noradius">
			Password Changed Successfully!!!
		</div>
		<% end %>

		<div class="panel-body">
			<div class="row">
				<div class="form-group">

					<div class="col-md-4 col-sm-4">

						
						<label>Old Password *</label>
						<%= password_field("change_password_dto", "old_password", {class: 'form-control required'})%>

						</br>
						<label>New Password *</label>
						<%= password_field("change_password_dto", "new_password", {class: 'form-control required'})%>

						</br>
						
						<label>Confirm Password *</label>
						<%= password_field("change_password_dto", "password_confirmation", {class: 'form-control required'})%>

						</br>
						<div class="form-group">
							<div class="col-md-4 col-sm-4 pull-left">
								<br />
								<br />
								<button type="submit" class="btn btn-success">
									<i class="fa fa-lock"></i> Change Password
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>