<% page_title = "Password Reset" %>

<div id="content" class="padding-20">
	<%= form_for(:form, :url => {:controller => 'account', :action => 'reset_password'}) do |f| %>
	<div class="panel">
		<div class="panel-heading">
			<br/>
			<h3 class="text-muted lead"><span class="logo-dec"><%= page_title%></span></h3>
			<hr />
		</div>

		<% if flash[:action_successful] !=nil  %>
		<br/>
		<div class="alert alert-success noborder text-center weight-400 nomargin noradius">
			Your password has been reset successfully
		</div>
		<% end %>

		<% if flash[:action_failed] !=nil  %>
		<br/>
		<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
			Please provide the new password
		</div>
		<% end %>

		<div class="panel-body center">
			<div class="center">
				<div class="col-md-4 col-sm-4">
					</div>
				<div class="col-md-4 col-sm-4">
				<%= hidden_field("form", "id", @id)%>
					<label>New Password *</label>
						<%= password_field("form", "new_password", {class: 'form-control required'})%>

						</br>

						<label>Confirm Password *</label>
						<%= password_field("form", "password_confirmation", {class: 'form-control required'})%>
					<br/>
					<br/>
					<button type="submit" class="btn btn-success">
						<i class="fa fa-refresh"></i> Reset
					</button>
					<br /><br />
                            <a href="/home/login">Login to your account</a> <br />
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
</div>